
.text-center{
    text-align: center;
    font-size: 45px;       
}
.product-card{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
    width: 330px;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    position: relative;
}
.product-img{
  height: 230px;
  width: 300px;
  display: block;
  margin: 10px auto;
}
.btn-edit-product{
    position: absolute;
    right: 0;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.main-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.product-name{
    text-align: center;
}